{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend>Alter Info</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-info" type="submit">Update</button>
        </div>
        <select name="new_adding" id="new_add">
            <option type="radio-btn" value="article"><a href="{% url 'articles_create' %}">Article</a></option>
            <option value="book"><a href="{% url 'books_create' %}">Book</a></option>
            <option value="event"><a href="{% url 'events_create' %}">Event</a></option>
        </select>
    </form>
{% endblock %}