<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if categories_list %}
        <ul>
            {% for i in categories_list %}
            <li><a href="{{i.id}}/">{{i.category_name}}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Kategoriyalar mavjud emas.</p>
    {% endif %}
</body>
</html>